<div class="card">
    <div class="card employee-card" id="Mina">
        <div class="card-header">
            <div class="card-title"></div>
            <h5 class="card-title">Mina</h5>
            <h4><i class="fas fa-glasses"></i> Engineer</h4>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">ID:</li>
                    <li class="list-group-item">Email:</li>
                    <li class="list-group-item">GitHub:</li>
                </ul>
            </div>
        </div>
    </div>
</div>