* {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #333;
}

h1 {
    font-size: 40px;
    color: #e2857a;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    height: 500px;
    width: 290px;
    margin: 10px;
    box-shadow: 0 3px 5px #000;
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    background-color: #e68b80;
}